<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>InstaSam</title>
  </head>
  <body>

    <% @posts.each do |post| %>
    <%= image_tag post.image.url(:medium) %>
    <%= post.caption %>
    <% end %>

  </body>
</html>
