<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>InstaSam</title>
  </head>

  <body>
    <div class="posts-wrapper", "row">
    <% @posts.each do |post| %>
    <div class="post">
      <div class="post-head">
        <div class="name">
          <div class="image">
            <div class="center-block">
    <%= link_to (image_tag post.image.url(:medium)), post_path(post) %>
    <%= post.caption %>
    <% end %>
  </div>
</div>
</div>
  </div>
  </div>
</div>

  </body>
</html>
