<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>InstaSam</title>
  </head>

  <body>
    <div class="posts-wrapper", "row">
    <div class="post">
      <div class="post-head">
        <div class="name">
          <div class="image">
            <div class="center-block">
    <%= image_tag @post.image.url(:medium) %>
    <%= @post.caption %>
    <%= link_to "Cancel", posts_path %></br>
    <%= link_to "Edit Post", edit_post_path(@post) %></br>

  </div>
</div>
</div>
  </div>
  </div>
</div>

  </body>
</html>
